extends layout

block content  
  link(rel="stylesheet", href="css/gameBoardPage.css")

  button(type='button', id='disconnect-button') Déconnexion
  button(type='button', id='leave-instance-button') Quitter la partie

  div(id="game-board-player-list-container")
    h1 Liste des joueurs
    div
      ul(id="game-board-player-list")

  div(id="game-board-connection-container", hidden=false)
    h1 Connexion
    p(id="game-board-loading-message") En attente du début de la partie...

    select(id="game-board-player-civilization-select", name="Choisissez une civilisation")
      option(value="roman", selected="selected") Empire Romain
      option(value="viking") Peuples Viking
      option(value="egyptian") Nation Egyptienne
      option(value="medieval") Royaume Médiéval
      option(value="greek") Cités Grecques

    select(id="game-board-player-color-select", name="Choisissez une couleur")
      option(value="red", selected="selected") Rouge
      option(value="blue") Bleu
      option(value="purple") Violet
      option(value="green") Vert
      option(value="yellow") Jaune
      option(value="orange") Orange
      option(value="pink") Rose
      option(value="brown") Marron
      option(value="aqua") Aqua

    button(type='button', id='ready-button') Prêt à jouer
    button(type='button', id='start-game-button') Démarrer la partie
    
  div(id="game-board-instance-data-error-message", hidden=true)

  div(id="game-board-container")
    div(id="game-board-info", hidden=true)
      h1 Partie en cours

      ul
        li
          span(id="game-board-instance-name-title") Nom de la partie : 
          span(id="game-board-instance-name")
        li
          span(id="game-board-instance-mode-title") Mode de la partie : 
          span(id="game-board-instance-mode")
        li
          span(id="game-board-owner-title") Administrateur : 
          span(id="game-board-owner")
        li
          span(id="game-board-status-title") Statut de la partie : 
          span(id="game-board-status")
        li
          span(id="game-board-current-turn-title") Tour actuel : 
          span(id="game-board-current-turn")
        li
          span(id="game-board-current-player-title") Joueur en train de jouer : 
          span(id="game-board-current-player")
        li
          span(id="game-board-total-players-title") Nombre de joueurs : 
          span(id="game-board-total-players")

    div(id="game-board", hidden=true)
      h1 Plateau de jeu

    div(id="game-board-player-resources", hidden=true)
      div(class="game-board-player-resources-item")
        span(id="player-resource-wood-title") Bois
        span(id="player-resource-wood")
      div(class="game-board-player-resources-item")
        span(id="player-resource-stone-title") Pierre
        span(id="player-resource-stone")
      div(class="game-board-player-resources-item")
        span(id="player-resource-food-title") Nourriture
        span(id="player-resource-food")
      div(class="game-board-player-resources-item")
        span(id="player-resource-gold-title") Or
        span(id="player-resource-gold")
      div(class="game-board-player-resources-item")
        span(id="player-resource-diamond-title") Diamants
        span(id="player-resource-diamond")
      div(class="game-board-player-resources-item")
        span(id="player-resource-iron-title") Fer
        span(id="player-resource-iron")
      div(class="game-board-player-resources-item")
        span(id="player-resource-population-title") Population
        span(id="player-resource-population")
      div(class="game-board-player-resources-item")
        span(id="player-resource-army-title") Soldats
        span(id="player-resource-army")
      div(class="game-board-player-resources-item")
        span(id="player-resource-armor-title") Armures
        span(id="player-resource-armor")
      div(class="game-board-player-resources-item")
        span(id="player-resource-weapon-title") Armes
        span(id="player-resource-weapon")
      div(class="game-board-player-resources-item")
        span(id="player-resource-tool-title") Outils
        span(id="player-resource-tool")
      div(class="game-board-player-resources-item")
        span(id="player-resource-horse-title") Chevaux
        span(id="player-resource-horse")
      div(class="game-board-player-resources-item")
        span(id="player-resource-treasure-title") Trésors
        span(id="player-resource-treasure")

    div(class="game-container")
      img(class="game-map", src="https://unsplash.it/3000/2000")
    button(id="zoom-in-button") +
    button(id="zoom-out-button") -

    div(id="game-board-controls", hidden=true)
      h1 Actions
      button(type='button', id='end-turn-button') Terminer le tour
      
      div(id="player-actions-container", hidden=true)
        h2 Mes actions possibles
        div(id="player-actions-list")
        h2 Autres actions impossibles
        div(id="player-other-actions-list")

    div(id="game-log", hidden=true)
      h2 Journal d'évènements
      ul(id="game-log-messages")

  script(src='/javascripts/gameBoardNavigation.js')
  script(src='/javascripts/gameMechanics.js')
  script(src='/javascripts/drawGameBoard.js')
  script(src='/javascripts/socketConnection.js')
  script(src='/javascripts/gameBoardPage.js')